SECRET_KEY=jgazqtufgggilpqb
DATABASE_URL=sqlite:///C:/web-projects/DneprovetsHost2/backend/football_school.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123
ADMIN_PASSWORD_HASH=123

MAIL_SERVER=localhost
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_USE_SSL=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

PAYMENTS_PROVIDER=manual
PAYMENT_RETURN_URL=http://localhost:3000/profile
YOOKASSA_API_BASE_URL=https://api.yookassa.ru/v3
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

FLASK_DEBUG=false
HOST=0.0.0.0
PORT=5000
